<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-igaworks"
        version="0.0.2">

    <name>cordova-plugin-igaworks</name>

    <description>
      This is the unofficial plugin for IGAworks in Apache Cordova/PhoneGap!
    </description>
        
    <repo>https://github.com/mapiacompany/cordova-plugin-igaworks</repo>

    <license>Apache 2.0</license>

    <preference name="ANDROID_APP_KEY" />
    <preference name="ANDROID_HASH_KEY" />
    <preference name="IOS_APP_KEY" />
    <preference name="IOS_HASH_KEY" />
    <preference name="SERVER_TYPE" />

    <engines>
        <engine name="cordova-android" version=">=4.0.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <framework src="com.android.installreferrer:installreferrer:1.0" />

        <js-module src="www/igaworks-native.js" name="IGAworksConnectPlugin">
            <clobbers target="igaWorksConnectPlugin" />
        </js-module>

        <config-file target="app/src/main/res/xml/config.xml" parent="/*">
            <feature name="IGAworksConnectPlugin">
                <param name="android-package" value="org.apache.cordova.igaworks.IGAworksConnectPlugin" />
                <param name="onload" value="true" />
            </feature>
            <access origin="*" />
            <preference name="android-minSdkVersion" value="19" />
        </config-file>

        <source-file src="src/android/igaworksconnect.xml" target-dir="res/values" />
        <config-file target="app/src/main/res/values/igaworksconnect.xml" parent="/*">
            <string name="igaworks_reward_server_type">$SERVER_TYPE</string>
            <string name="igaworks_app_key">$ANDROID_APP_KEY</string>
            <string name="igaworks_hash_key">$ANDROID_HASH_KEY</string>
        </config-file>

        <config-file target="app/src/main/AndroidManifest.xml" parent="application">
            <meta-data android:name="igaworks_reward_server_type" android:value="@string/igaworks_reward_server_type" />
            <meta-data android:name="igaworks_app_key" android:value="@string/igaworks_app_key" />
            <meta-data android:name="igaworks_hash_key" android:value="@string/igaworks_hash_key" />
            <activity android:name="com.igaworks.adpopcorn.activity.ApOfferWallActivity_NT"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
            <activity android:name="com.igaworks.adpopcorn.activity.ApVideoAdActivity"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="landscape"/>
            <receiver android:name="com.igaworks.IgawReceiver" android:exported="true">
                <intent-filter>
                    <action android:name="com.android.vending.INSTALL_REFERRER"/>
                </intent-filter>
            </receiver>
        </config-file>

        <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <!-- <resource-file src="www/drawable/logo.png" target="res/drawable-hdpi/logo.png" /> -->

        <lib-file src="src/android/libs/IgawCommon_v4.6.3.jar"/>
        <lib-file src="src/android/libs/IgawAdpopcornAddOn_v1.0.0a.jar"/>

        <!-- cordova plugin src files -->
        <source-file src="src/android/IGAworksConnectPlugin.java" target-dir="app/src/main/java/org/apache/cordova/igaworks" />

        <!-- Adpopcorn 라이브러리 JAR -->
        <source-file src="src/android/libs/IgawAdpopcorn_v6.0.8a.aar" target-dir="app/libs"/>

        <framework src="src/android/adpopcorn-build.gradle" custom="true" type="gradleReference" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/igaworks-native.js" name="IGAworksConnectPlugin">
            <clobbers target="igaWorksConnectPlugin" />
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="IGAworksConnectPlugin">
                <param name="ios-package" value="IGAworksConnectPlugin"/>
                <param name="onload" value="true" />
            </feature>
            <plugin name="IGAworksConnectPlugin" value="IGAworksConnectPlugin"/>
        </config-file>

        <header-file src="src/ios/IGAworksConnectPlugin.h" />
        <source-file src="src/ios/IGAworksConnectPlugin.m" />

        <config-file target="*-Info.plist" parent="IGAworksRewardServerType">
            <string>$SERVER_TYPE</string>
        </config-file>

        <config-file target="*-Info.plist" parent="IGAworksAppKey">
            <string>$IOS_APP_KEY</string>
        </config-file>

        <config-file target="*-Info.plist" parent="IGAworksHashKey">
            <string>$IOS_HASH_KEY</string>
        </config-file>

        <resource-file src="src/ios/AdPopcornOfferwall.framework/Versions/A/Resources/AdPopcornOfferwall.bundle" />

        <framework src="AdPopcornDA" type="podspec" spec="~> 2.1.3" />
        <framework src="AdPopcornOfferwall" type="podspec" spec="~> 3.0.2" />
        <framework src="IgaworksCore" type="podspec" spec="~> 2.3.9" />
    </platform>

    <!-- after_prepare hook to populate APP_KEY -->
    <hook type="after_prepare" src="scripts/after_prepare.js" />
</plugin>
